<h1> <strong> About </strong>  </h1>
<hr>
<div class="container" align ="center">
  <h2> Marvel & DC Heroes</h2>
  <img id="image" src="../../../assets/img/marvel-vs-dc.jpg" class="img-fluid" >
  <hr>
  <div class="text-container">
    <p align="justify" >Este es un aplicativo que muestra un poco de información sobre algunos de los heroes
      existentes en el mundon Marvel y DC. El cómic es un subgénero literario que va acompañado de ilustraciones.
      Las historias de los cómics están protagonizadas por héroes, también conocidos como superhéroes porque poseen cualidades
      extraordinarias. Cada editorial tiene sus propios héroes y villanos y en la tradición del cómic
      estadounidense hay dos editoriales punteras, Marvel y DC.
    </p>
  </div>
</div>
